

.header{
    width: 100%;
    height: 50px;
    background-color:#fafafc;   
     
     
}
*{
    margin: 0;
}
.apple-imghed{
    padding-left: 20px;
    padding-top: 7px;
     float: left; 
    
}
.navbar{
    
    padding: 11px;
    margin-left: 80px;
    text-decoration: none;
}
.nav{
    text-decoration: none;
    font-family:  Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 30px;
    font-size: 12px; 
    color:#000000;
}

.para1{
    text-align: center;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14;
    padding-top: 15px;
}
.text{
        background-color:#fff;
         width: 100%;
         height: 50px;
}
.fa-search{
    padding-left: 50px;
    
}
.fa-lock{
    padding-left: 50px;
     font-size: 24px;
    
}
.footer-main{
    background-color:#fafafc;   
     
    height: 5500px;
    width: 5500px;
}
.p1{
  color: #6e6e73;
  font-size: 48px;
  padding-top: 100px; 
  padding-left: 120px ;
  font-weight: 600;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.strong{
    color: #000000;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.img1{
    height: 30px;
    width: 30px;
    padding-left: 180px;
    padding-top: 60px;
    
}
.test2{
    font-size: 12px;
   font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
   
}

.rowimage{
    width: 128;
    height: 80px;
     padding-left: 30px;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    display: flex;

}
.itemname{
    text-align: center;
    
}
.hand-hover{
    text-decoration: none;
    color: #000000;
}
.hand-hover:hover{
    text-decoration: underline;
}
.p2{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
  color: #6e6e73;
  font-size: 28px;
  padding-left: 180px;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 600;
    
}

.iPhone16pro{
    /* margin-top:1px;  */
    
    float: left;
    margin: 20px;
     margin-left: 180px; 
     border-radius: 20px;
}
.iphone{
    position: relative;
    top: 80px;
    left: 20px;
    color: #fff;
    font-size: 24px;
}
.appleintel{
 position: relative;
    bottom: 420px;
    left: 20px;
    color:rgb(24, 174, 219);
    font-size: 17px;
}
.price{
    position: relative;
    bottom: 415px;
    left: 20px;
    color: #fff;
    font-size: 16px;
}

.img2{
     display: block; 
      width: 400px; 
      height: 500px; 
      margin-left:10px;
     
   } 
  .triangle{
    width: 10px;
    height: 10px;
  }
  .limitedtime{
    
     margin: 20px;
    float: left;
    
  }
  .rowpic2{
    color: rgba(129, 3, 3, 0.753);
     position: relative;
     bottom: 465px; 
    left: 20px;
    font-size:15px;
}
 .img3{ 
     width: 400px; 
     height: 500px; 
    
 } 
.limitedtime h3{
   
    position: relative;
    bottom: 450px;
    left: 17px;
     font-size: 27px;
     font-weight: 600 ;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
.macbook{
    float: left;
    margin: 20px;
    border-radius: 20px;
     
}  
.img4{
     width: 400px; 
     height: 500px; 
}
.macbookair{
    position: relative;
    bottom: 450px;
    left: 17px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    
    font-size: 28px;
}
.appleintel2{
    position: relative;
    bottom: 440px;
    left: 17px;
    color:rgb(24, 174, 219);
    font-size: 17px;
}
.price2{
    position: relative;
    color: #000000;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    bottom: 430px;
    left: 17px;
    
}

.p3{
    position: relative;
    top: 550px;
    right: 1300px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 28px;
     color: #6e6e73;
    font-weight: 600;
}
.apple-specialist{
    
   position: relative;
   right: 1300px;
   top: 600px;
   
   
}
.img5{
 width: 500px;
    height: 500px;
}
.apple-specialist P{
    
    position: relative;
    bottom:480px;
    left: 20px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #424245;
    font-size: 12px;
    
}
.shopone{
    
     position: relative;
      bottom: 490px; 
      left: 460px;  
     display: flex;
    font-size: 28px;
    font-weight:bolder;
    overflow: auto;
}
.explore{

margin: 10px;
width: 500px;
    height: 500px;
    border-radius: 20px;
position: relative;
left: 350px;
bottom:11px;
}
.todayat{
    font-size:12px ;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
      bottom: 485px;
      left: 400px;
    
}
.exploreapple{
    font-size: 28px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    position: relative;
     bottom: 480px;
      left: 400px;
}
.comeandtry{
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    bottom: 470px;
    left:400px;
}
.join{
    margin: 10px;

   
position: relative;
left: 1230px;
bottom:520px;
}
.img6{
width: 500px;
    height: 500px;
    border-radius: 20px;
}
.todayat2{
     font-size:12px ;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
      bottom: 485px;
      left: 40px;
}
 .joinfree{
     font-size: 28px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    position: relative;
     bottom: 480px;
      left: 40px;
 }
 .learn{
     font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    bottom: 470px;
    left:40px;
 }
 .text4{
    font-size: 28px;
   font-family:  SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    
    position: relative;
    bottom:600px;
    left:200px;
    
 }
.card1col1{
    width: 313px;
    height: 214px;
    border-radius: 20px;
    background-color:white;
    /* align-content: flex-start; */
    position: relative;
    bottom: 550px;
    left: 200px;
}
.card1col1 p{
    font-size: 24px;
    font-weight: 300;
    
    position: relative;
   font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    top: 50px;
    left: 20px;
    display: flex;
    text-decoration: none;
}
.atmcard{
    position: relative;
    top: 50px;
    left: 20px;
}

.card1col2{
 width: 313px;
    height: 150px;
    border-radius: 20px;
    background-color:white;
        position: relative;
        bottom: 758px;
        left:600px;
        text-align: justify;
        padding-left: 17px;
        font-size: 24px;
        padding-top: 70px;
        text-decoration: none;

   
}
.card1col3{
 width: 313px;
    height: 150px;
    border-radius: 20px;
    background-color:white;
        position: relative;
        bottom: 980px;
        left:1000px;
        text-align: justify;
        padding-left: 17px;
        font-size: 24px;
        padding-top: 70px;
        text-decoration: none;
}
 .t3{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom:920px;
    padding-left:200px;
}
.img7{
    width: 400px; 
      height: 500px; 
      margin-left:5px;
}
.access1 {
    display: flex;
    position: relative;
    right: 80px;
    bottom:900px;
    padding-left: 190px;
    border-radius: 20px;
}
.accessp{
    position: relative;
    right:350px;
    top:10px;
    font-size: 24px;
}
.img8{
    width: 380px; 
      height: 500px; 
      margin-left:10px;
}
.col2{
    display: flex;
    position: relative;
    left: 350px;
    bottom:1400px;
    padding-left: 190px;
    border-radius: 20px;
}
.col2para{
    position: relative;
    right:350px;
    top:400px;
    font-size: 17px;
}
.img9{
    width: 380px; 
      height: 500px; 
      margin-left:10px;
}
.col3{
    display: flex;
    position: relative;
    left: 750px;
    bottom:1900px;
    padding-left: 190px;
    border-radius: 20px;
}
.col3para{
    position: relative;
    right:350px;
    top:400px;
    font-size: 17px;
}
.t4{
    font-size: 28px;
    
    position: relative;
    bottom:1850px;
    padding-left:200px;
}
.img10{
    width: 400px; 
      height: 500px; 
      margin-left:5px;
}
.musicfree{
    display: flex;
    position: relative;
    left: 10px;
    bottom:1800px;
    padding-left: 190px;
    border-radius: 20px;
}
.musicp{
    position: relative;
    right:350px;
    top:10px;
    font-size: 20px;

}

.img11{
      width: 380px; 
      height: 500px; 
      margin-left:5px;
}
.musiccol2{
    display: flex;
    position: relative;
    left: 430px;
    bottom:2300px;
    padding-left: 190px;
    border-radius: 20px;
}
.musiccol2para{
     position: relative;
    right:350px;
    top:370px;
    font-size: 20px;

}
.img12{
     width: 380px; 
      height: 500px; 
      margin-left:5px;
}
.musiccol3{
    display: flex;
    position: relative;
    left: 830px;
    bottom:2800px;
    padding-left: 190px;
    border-radius: 20px;
}
.musiccol3para{
      position: relative;
    right:300px;
    top:370px;
    font-size: 20px;

}
.musict4para{
     font-size: 28px;
    
    position: relative;
    bottom:2770px;
    padding-left:200px;
}
.img13{
     width: 420px; 
      height: 500px; 
      margin-left:5px;
}
.applecol1{
     display: flex;
    position: relative;
    left: 10px;
    bottom:1950px;
    padding-left: 190px;
    border-radius: 20px;
}
.applecolpara{
      position: relative;
    right:370px;
    top:40px;
    font-size: 20px;
    font-weight: 800;

}
.img14{
    width: 420px; 
      height: 500px; 
      margin-left:5px;
}
.applecol2{
     display: flex;
    position: relative;
    left: 450px;
    bottom:2460px;
    padding-left: 190px;
    border-radius: 20px;
}
.applecol2para{
     position: relative;
    right:380px;
    top:30px;
    font-size: 20px;
   

}
.img15{
     width: 420px; 
      height: 500px; 
      margin-left:5px;
}
.applecol3{
     display: flex;
    position: relative;
    left: 900px;
    bottom:2960px;
    padding-left: 190px;
    border-radius: 20px;
}
.applecol3para{
    position: relative;
    right:380px;
    top:30px;
    font-size: 20px;
}
.t5para{
    font-size: 28px;
    
    position: relative;
    bottom:2890px;
    padding-left:200px;
}
.img16{
     width: 420px; 
      height: 500px; 
      margin-left:5px;

}
.educationcol1{
    display: flex;
    position: relative;
    left: 10px;
    bottom:2850px;
    padding-left: 190px;
    border-radius: 20px;
}
.educationcol1para{
    position: relative;
    right:370px;
    top:30px;
    font-size: 20px;
}
.img17{
    width: 420px; 
      height: 500px; 
      margin-left:5px;
}
.educationcol2{
    display: flex;
    position: relative;
    left: 450px;
    bottom:3355px;
    padding-left: 190px;
    border-radius: 20px;
}
.educationcol2para{
        position: relative;
    right:370px;
    top:30px;
    font-size: 20px;
    color: white;
}
.quickh2{
    
     font-size: 28px;
    
    position: relative;
    bottom:3300px;
    padding-left:200px;
}
.storep{
     position: relative;
    right:370px;
    top:30px;
    font-size: 20px;
    color:black;
}

.paragh1{
 position: relative;
    bottom:3190px;
    padding-left:200px;
}
.hr1{
    position: relative;
    bottom:3190px;
    padding-left:200px;
}
.table1{
    width: 1000px;
    height: 200px;
     position: relative;
    bottom:3190px;
    padding-left:200px;
}